@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Common Styles*/
.display-flex{
    display: flex;
}
.text-grey{
    color: #424242;
}
.text-light-grey{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-color{
    color: #FF900E;
}
.hidden{
    display: none;
}

/*Navbar*/
.navbar{
    justify-content: space-between;
    align-items: center;
}
.feature-title,
.second-feature-title,
.fact-section-title,
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.menu{
    gap: 30px;
}
li{
    list-style: none;
    /* margin-right: 25px; */
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/*banner*/
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-size: 700;
}
.explore-btn{
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.20rem;
    font-weight: 600;
    background-color: #FF900E;
    color: white;
    margin-top: 20px;
}
.explore-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.banner-image{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Main*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team{
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team img{
    width: 100%;
}
.features{
    max-width: 530px;
    flex-direction: column;
    align-items: flex-start;
}
.feature-title{
    margin: 15px 0;
}
#quick-list{
    font-weight: 400;
}

.second-feature{
    margin-top: 100px;
    gap: 145px;
    justify-content: center;
}
.second-feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card .card-title{
    font-weight: 600;
    font-size: 1.25rem;
}
.feature-card{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.more-features {
    max-width: 585px;
    width: 100%;
}
.architect{
    margin-top: 50px;
}
.architect img{
    width: 100%;
}
#experience-badge{
    display: inline-block;
    background-color: #FF900E;
    text-align: center;
    color: white;
    padding: 35px;
    border-radius: 7px;
    margin-left: -90px;
    margin-top: -125px;
}
#experience-badge h3{
    font-size: 4rem;
    margin: 0;
    font-weight: 700;
}
#experience-badge p{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
}

/*Fact section*/
.fact-section-title{
    margin-bottom: 0;
}
.fact-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.fact-section-description{
    max-width: 540px;
}
.fact-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF900E;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-width: 240px;
    width: 100%;
    padding: 45px 0;
}
.card-icons{
    width: 45px;
}
.fact-numbers-total{
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0 5px;
}
.fact-name{
    font-size: 1.12rem;
    font-weight: 600;
    margin: 5px;
}
.fact-card:hover{
    cursor: pointer;
    box-shadow: 2px 3px 20px rgb(227, 227, 227);

}
.fact-card:hover .card-icons{
    transform: rotate(360deg);
    transition: 01s;
}





/*Responsive Media Query*/
@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
    }
    .fact-section-title,
    .feature-title,
    .second-feature-title,
    .brand{
        font-size: 2rem;
    }
    .menu{
        flex-wrap: wrap;
        gap: 20px;
        font-size: 1rem;
    }
    
    .banner-title{
        font-size: 3rem;
    }
    .fact-section-description,
    .feature-description,
    .second-feature-description,
    .second-feature p,
    .banner-description{
        padding: 0 10px;
        text-align: justify;
    }
    .explore-btn{
        font-size: 1.1rem;
        padding: 15px 20px; 
        margin-top: 10px;   
    }
    .banner-image{
        margin: 20px auto;
    }


    .team{
        flex-direction: column;
    }
    /* .image-container{
        grid-template-columns: repeat(1, 1fr);
    } */
    .features{
        align-items: center;
    }


    .second-feature{
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .feature-card{
        text-align: center;
    }
    .feature-card:hover{
        cursor: pointer;
        background-color: rgb(246, 246, 246);
    }
    .architect{
        margin-top: 0;
    }
    #experience-badge{
        margin-left: 0;
    }
    #experience-badge h3{
        font-size: 2rem;;
    }
    #experience-badge p{
        font-size: 1.1rem;
    }

    .facts{
        margin-top: 50px;
    }
    .fact-card-container{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .fact-card{
        padding: 20px 0;
        max-width: 350px;
        width: 100%;
    }


}