@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Common Styles*/
.display-flex{
    display: flex;
}
.text-grey{
    color: #424242;
}
.text-light-grey{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-color{
    color: #FF900E;
}
.hidden{
    display: none;
}

/*Navbar*/
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.menu{
    gap: 30px;
}
li{
    list-style: none;
    /* margin-right: 25px; */
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/*banner*/
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.feature-title,
.banner-title{
    font-size: 4rem;
    font-size: 700;
}
.explore-btn{
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.20rem;
    font-weight: 600;
    background-color: #FF900E;
    color: white;
    margin-top: 20px;
}
.explore-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.banner-image{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Main*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team{
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team img{
    width: 100%;
}
.features{
    max-width: 530px;
    flex-direction: column;
    align-items: flex-start;
}
.feature-title{
    margin: 15px 0;
}


/*Responsive Media Query*/
@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
    }
    .brand{
        font-size: 2rem;
    }
    .menu{
        flex-wrap: wrap;
        gap: 20px;
        font-size: 1rem;
    }
    .banner-title{
        font-size: 3rem;
    }
    .banner-description{
        padding: 0 10px;
    }
    .explore-btn{
        font-size: 1rem;
        padding: 10px 15px; 
        margin-top: 10px;   
    }
    .banner-image{
        margin: 20px auto;
    }
}